[Unit]
Description=NVIDIA Vera IST Service
StopWhenUnneeded=false
Wants=nvidia-emmc-partition.service
After=nvidia-emmc-partition.service

[Service]
Restart=always
RestartSec=5
ExecStart=@INSTALL_PREFIX@/bin/ist

[Install]
WantedBy=multi-user.target
