[Unit]
Description=NVIDIA Vera IST Service
StopWhenUnneeded=false

[Service]
Restart=always
RestartSec=5
ExecStart=@INSTALL_PREFIX@/bin/ist

[Install]
WantedBy=multi-user.target
